#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container-oracaoWeb {
  border-radius: 50px;
  background: #a88080;
  box-shadow: -20px 20px 60px #8f6d6d, 20px -20px 60px #c19393;
}

.container-oracaoFrontend {
  border-radius: 50px;
  background: #a88080;
  box-shadow: -20px 20px 60px #8f6d6d, 20px -20px 60px #c19393;
}